<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h1>PICA - FUMO</h1>
            <h2 class="section-heading text-uppercase">SISTEMA DE AUDITORIA DE PAGAMENTO DE PESSOAL</h2>
        </div>
        <ul class="timeline">
            <li><div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/cadastro.webp" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Cadastro de informações</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">O cadastro correto e tempestivo das informações que compõem a Folha de Pagamentos
                            dos militares é caráter fundamental para a confiabilidade do sistema. Não existe auditoria sem a confiança
                            da correção do cadastro dos dados de referência.
                        </p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/legalidade.png"
                            alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Legalidade</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Embasar todas as auditorias de acordo com a legislação em vigor. Manter o sistema atualizado com
                            as mudanças nas leis e nos regulamentos que disciplinam a remuneração dos militares.
                        </p>
                    </div>
                </div>
            </li>
            <li>
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/auditoria.jpg"
                            alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Auditoria responsável</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">É primordial para o sucesso da auditoria e a consecução dos objetivos que a esta
                            foram propostos o trabalho profissional de todos os auditores envolvidos, envolvendo-se com o processo
                            e buscando sempre a melhoria e a identificação das falhas, antes que estas sejam realizadas.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/correcao.jpg"
                            alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Correção dos problemas</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">A correção dos problemas identificados é, talvez, o ponto crucial de todo o trabalho desenvolvido.
                            Não apenas pelo fato de possibilitar ao Gestor a capacidade métrica de sua equipe, mas especialmente por impedir
                            que pagamentos indevidos sejam realizados, sejam estes em desfavor da Administração Pública ou do militar beneficiário
                            do direito remuneratório.
                        </p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Faça parte
                        <br />
                        do nosso
                        <br />
                        time!
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</section>