<mat-card>
    <mat-card-header>
        <mat-card-title>Auditar Militares</mat-card-title>
    </mat-card-header>
</mat-card>
<hr>
<mat-card>
    <mat-form-field appearance="fill">
        <mat-label>Filtro</mat-label>
        <input matInput (keyup)="applyFilter($event)" #input>
    </mat-form-field>
</mat-card>
<hr>
<div class="responsive-table">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="postoGrad">
            <th mat-header-cell *matHeaderCellDef>Posto / Grad</th>
            <td mat-cell *matCellDef="let element">{{element.postoGrad}}</td>
        </ng-container>

        <ng-container matColumnDef="nomeCompl">
            <th mat-header-cell *matHeaderCellDef>Nome Completo</th>
            <td mat-cell *matCellDef="let element">{{element.nomeCompl}}</td>
        </ng-container>

        <ng-container matColumnDef="cpf">
            <th mat-header-cell *matHeaderCellDef>CPF</th>
            <td mat-cell *matCellDef="let element">{{element.cpf}}</td>
        </ng-container>

        <ng-container matColumnDef="curso">
            <th mat-header-cell *matHeaderCellDef>Curso</th>
            <td mat-cell *matCellDef="let element">{{element.curso}}</td>
        </ng-container>

        <ng-container matColumnDef="modalidade">
            <th mat-header-cell *matHeaderCellDef>Modalidade</th>
            <td mat-cell *matCellDef="let element">{{element.modalidade}}</td>
        </ng-container>

        <ng-container matColumnDef="beneficio">
            <th mat-header-cell *matHeaderCellDef>Benefício</th>
            <td mat-cell *matCellDef="let element">{{element.beneficio}}</td>
        </ng-container>

        <ng-container matColumnDef="porcentagem">
            <th mat-header-cell *matHeaderCellDef>Porcentagem</th>
            <td mat-cell *matCellDef="let element">{{element.porcentagem}}</td>
        </ng-container>

        <ng-container matColumnDef="audit">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element" class="action-link">
                <button mat-icon-button color="primary" matTooltip="Auditar" [routerLink]="['/picafumo/auditoria/'+element.cpf]"> 
                    <mat-icon>search</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
</div>