<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
        <span class="title-center">{{dialogData.action}} Militar</span>
    </mat-toolbar-row>
</mat-toolbar>
<mat-dialog-content class="mat-typography">
    <div class="responsive-table">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="cpf">
                <th mat-header-cell *matHeaderCellDef>CPF</th>
                <td mat-cell *matCellDef="let element">{{element.cpf}}</td>
            </ng-container>
    
            <ng-container matColumnDef="maior_porcentagem">
                <th mat-header-cell *matHeaderCellDef>Adicional de Habilitação Cadastrado</th>
                <td mat-cell *matCellDef="let element">{{element.maior_porcentagem}}</td>
            </ng-container>
    
            <ng-container matColumnDef="adic_hab">
                <th mat-header-cell *matHeaderCellDef>Adicional de Habilitação Recebido</th>
                <td mat-cell *matCellDef="let element">{{element.adic_hab}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
    </div>
<mat-dialog-actions align="center">
    <button mat-raised-button color="primary" mat-dialog-close>Fechar</button>
</mat-dialog-actions>