<body>
    <mat-card>
        <b><span>Dashboard</span></b>
    </mat-card>
    <br>

    <div class="column">
        <div class="card">
            <div class="container">
                <h2 class="title">Total de guarnições cadastradas:</h2>
                <h1 class="title">{{data?.guarnicao}}</h1>
                <p><button class="button" [routerLink]="['/picafumo/guarnicoes']">Ver guarnições</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <div class="container">
                <h2 class="title">Total de OM cadastradas:</h2>
                <h1 class="title">{{data?.om}}</h1>
                <p><button class="button" [routerLink]="['/picafumo/om']">Ver OM</button></p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="column">
            <div class="card">
                <div class="container">
                    <h2 class="title">Total de cursos cadastrados:</h2>
                    <h1 class="title">{{data?.curso}}</h1>
                    <p><button class="button" [routerLink]="['/picafumo/cursos']">Ver cursos</button></p>
                </div>
            </div>
        </div>

        <br>

        <div class="column">
            <div class="card">
                <div class="container">
                    <h2 class="title">Total de militares cadastrados:</h2>
                    <h1 class="title">{{data?.militar}}</h1>
                    <p><button class="button" [routerLink]="['/picafumo/militar']">Ver militares</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <div class="container">
                    <h2 class="title">Total de beneficiados de Adic Habilitação:</h2>
                    <h1 class="title">{{data?.adicHabilitacao}}</h1>
                    <p><button class="button" [routerLink]="['/picafumo/habilitacao']">Ver beneficiados</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>