<mat-toolbar color="primary">
    <mat-toolbar-row fxLoayout="row">
        <span clas="title-center">Esqueceu a senha?</span>
    </mat-toolbar-row>
</mat-toolbar>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="forgotPasswordForm">
        <div fxFlex fxLayout="column">
            <mat-form-field appearance="fill" fxFlex>
                <mat-label>E-mail</mat-label>
                <input matInput formControlName="email" required>
                <mat-error *ngIf="forgotPasswordForm.controls.email.touched && forgotPasswordForm.controls.email.invalid">
                    <span *ngIf="forgotPasswordForm.controls.email.errors.required">Este campo é obrigatório.</span>
                    <span *ngIf="forgotPasswordForm.controls.email.errors.pattern">Formato de e-mail inválido.</span>
                </mat-error>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button mat-raised-button color="primary" type="submit" (click)="handleSubmit()"
    [disabled]="!(forgotPasswordForm.valid && forgotPasswordForm.dirty)">Recuperar a senha</button>
    <button mat-raised-button color="primary" mat-dialog-close>Fechar</button>
</mat-dialog-actions>