<div class="bg-image"></div>
<app-best-seller></app-best-seller>

<div class="wrapper sticky">
  <nav class="navbar-fixed-top">
    <a href="#" class="logo">
      <mat-icon>home</mat-icon> PICA-FUMO
    </a>
    <ul>
      <li><a (click)="loginAction()">Entrar</a></li>
      <li><a (click)="signupAction()">Cadastrar</a></li>
      <li><a (click)="forgotPasswordAction()">Esqueceu a senha?</a></li>
    </ul>
  </nav>
</div>
<div class="footer" id="signup">
  <h2>Todos os direitos reservados</h2>
  <h3>Maj MARCUS VINICIUS PEREIRA SOARES</h3>
</div>