<mat-card>
    <mat-card-header>
        <mat-card-title>Gerenciar Militares</mat-card-title>
    </mat-card-header>
    <mat-card-actions align="end">
        <button mat-flat-button color="primary" class="float-right" (click)="handleAddAction()">Adicionar
            Militar</button>
    </mat-card-actions>
</mat-card>
<hr>
<mat-card>
    <mat-form-field appearance="fill">
        <mat-label>Filtro</mat-label>
        <input matInput (keyup)="applyFilter($event)" #input>
    </mat-form-field>
</mat-card>
<hr>
<div class="responsive-table">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="abrev">
            <th mat-header-cell *matHeaderCellDef>Posto / Grad</th>
            <td mat-cell *matCellDef="let element">{{element.abrev}}</td>
        </ng-container>

        <ng-container matColumnDef="qas">
            <th mat-header-cell *matHeaderCellDef>Cód QAS</th>
            <td mat-cell *matCellDef="let element">{{element.qas}}</td>
        </ng-container>

        <ng-container matColumnDef="nome_compl">
            <th mat-header-cell *matHeaderCellDef>Nome Completo</th>
            <td mat-cell *matCellDef="let element">{{element.nome_compl}}</td>
        </ng-container>

        <ng-container matColumnDef="cpf">
            <th mat-header-cell *matHeaderCellDef>CPF</th>
            <td mat-cell *matCellDef="let element">{{element.cpf}}</td>
        </ng-container>

        <ng-container matColumnDef="sigla">
            <th mat-header-cell *matHeaderCellDef>OM</th>
            <td mat-cell *matCellDef="let element">{{element.sigla}}</td>
        </ng-container>

        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element" class="action-link">
                <button mat-icon-button color="primary" matTooltip="Editar" (click)="handleEditAction(element)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="primary" matTooltip="Deletar" (click)="handleDeleteAction(element)">
                    <mat-icon>delete</mat-icon>
                </button>
                <button mat-icon-button color="primary" matTooltip="Auditar" [routerLink]="['/picafumo/auditoria/5513291657']">
                    <!--<button mat-icon-button color="primary" matTooltip="Auditar" (click)="handleAuditAction(element.cpf)">-->
                    <mat-icon>search</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
</div>